In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df = pd.read_csv('city_weather.csv')

In [3]:
missing_data = df.isnull()

print(missing_data)

    Date  Temperature  Humidity    AQI
0  False        False     False  False
1  False        False     False  False
2  False        False     False  False

In [4]:
date = pd.date_range("20230102", periods=2)
date

DatetimeIndex(['2023-01-02', '2023-01-03'], dtype='datetime64[ns]', freq='D')

In [21]:
df = pd.DataFrame(np.random.randn(2, 4), index=date, columns=list("ABCD"))
df

                   A         B         C         D
2023-01-02  0.368345  0.094219 -1.065071 -0.044485
2023-01-03  0.832059  0.622967 -0.787293 -1.044952

In [23]:
df.head()

                   A         B         C         D
2023-01-02  0.368345  0.094219 -1.065071 -0.044485
2023-01-03  0.832059  0.622967 -0.787293 -1.044952

In [25]:
df.tail()

                   A         B         C         D
2023-01-02  0.368345  0.094219 -1.065071 -0.044485
2023-01-03  0.832059  0.622967 -0.787293 -1.044952

In [27]:
summary = df.describe()

In [29]:
summary

              A         B         C         D
count  2.000000  2.000000  2.000000  2.000000
mean   0.600202  0.358593 -0.926182 -0.544718
std    0.327896  0.373882  0.196419  0.707438
min    0.368345  0.094219 -1.065071 -1.044952
25%    0.484273  0.226406 -0.995626 -0.794835
50%    0.600202  0.358593 -0.926182 -0.544718
75%    0.716131  0.490780 -0.856737 -0.294602
max    0.832059  0.622967 -0.787293 -0.044485